@mixin background-color {
  background-color: rgb(57, 56, 134);
}
@mixin cards-color {
  background-color: rgb(25, 24, 53);
  color: rgb(221, 204, 204);
}

%width {
  width: 20em;
}

.coaching-container {
  @include background-color;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 1.25em;
  text-shadow: none;
  padding-bottom: 2em;
}

.coaching-container-rank {
  @include background-color;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 1.25em;
  text-shadow: none;
  padding-bottom: 5em;
}

.coaching-container-rank-3 {
  @include background-color;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 1.25em;
  text-shadow: none;
  padding-bottom: 3em;
}

.coaching-maintext {
  position: relative;
  font-family: "Rancho", cursive;
  font-size: 4em;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.rank-coaching-container {
  position: relative;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.select-coaching-rank-grandmasters {
  @include cards-color;
  @extend %width;
  position: relative;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 75%;
  cursor: pointer;
  padding-bottom: 3em;
}

.select-coaching-rank-grandmasters:hover,
.select-coaching-rank-down-gamemode-gm:hover {
  box-shadow: 0 0 10px #dde931, 0 0 40px #dde931, 0 0 80px #dde931;
}

.select-coaching-rank-down-diamond,
.select-coaching-rank-down-masters {
  @include cards-color;
  @extend %width;
  position: relative;
  display: flex;
  border-radius: 15px;
  flex-direction: row;
  justify-content: center;
  height: 75%;
  margin-top: 10em;
  flex-wrap: wrap;
  cursor: pointer;
  padding-bottom: 3em;
}

.select-coaching-rank-down-diamond:hover,
.select-coaching-rank-down-gamemode-diamond:hover,
.select-coaching-rank-gamemode-diamond:hover {
  box-shadow: 0 0 10px #463aec, 0 0 40px #463aec, 0 0 80px #463aec;
}

.select-coaching-rank-down-masters {
  @include cards-color;
  @extend %width;
  position: relative;
  display: flex;
  border-radius: 15px;
  flex-direction: row;
  justify-content: center;
  height: 75%;
  margin-top: 10em;
  flex-wrap: wrap;
  cursor: pointer;
  padding-bottom: 3em;
}

.select-coaching-rank-down-masters:hover,
.select-coaching-rank-down-gamemode-masters:hover,
.select-coaching-rank-gamemode-masters:hover {
  box-shadow: 0 0 10px #8c3fa3, 0 0 40px #963da1, 0 0 80px #8b35a0;
}

.coaching-rank {
  position: absolute;
  top: -12.5%;
  height: 22.5%;
}

.level-of-coaching {
  position: relative;
  margin-top: 1.75em;
  font-family: "Rancho", cursive;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
}

.coaching-text {
  justify-content: center;
  position: relative;
  margin-top: 3.5em;
  font-family: "Rancho", cursive;
  font-size: 1.5em;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.coaching-price {
  position: relative;
  display: flex;
  margin-top: 3em;
  justify-content: center;
  font-family: "Rancho", cursive;
  font-size: 1.5em;
}

.navigation-buttons-coaching {
  width: 50%;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2em;

  .prev-button {
    position: relative;
    background-color: rgb(223, 66, 66);
    padding: 20px;
    border-radius: 30%;
    color: white;
    font-size: 1.25em;
    font-family: "Rancho", cursive;
    cursor: pointer;
  }

  .next-button {
    background-color: rgb(86, 204, 82);
    padding: 20px;
    border-radius: 30%;
    color: white;
    font-size: 1.25em;
    font-family: "Rancho", cursive;
    cursor: pointer;
  }
}

.select-coaching-rank-down-gamemode-diamond,
.select-coaching-rank-down-gamemode-masters {
  @include cards-color;
  @extend %width;
  position: relative;
  display: flex;
  border-radius: 15px;
  flex-direction: row;
  justify-content: center;
  height: 75%;
  margin-top: 10em;
  flex-wrap: wrap;
  padding-bottom: 1em;
}

.select-coaching-rank-gamemode-diamond,
.select-coaching-rank-gamemode-masters {
  @include cards-color;
  @extend %width;
  position: relative;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 75%;
  padding-bottom: 1em;
}

.select-coaching-rank-down-gamemode-gm {
  @include cards-color;
  position: relative;
  display: flex;
  border-radius: 15px;
  flex-direction: row;
  justify-content: center;
  height: 75%;
  width: 20em;
  margin-top: 6em;
  flex-wrap: wrap;
  padding-bottom: 1em;
}

.paypal-button {
  @include cards-color;
}

.paypal-form {
  @include cards-color;
  margin-bottom: 1.5em;
}

@media screen and (max-width: 1024px) {
  .coaching-rank {
    max-width: 150px;
    max-height: 120px;
  }
  .level-of-coaching {
    font-size: 2em;
    margin-top: 2.5em;
  }
  .select-coaching-rank-grandmasters,
  .select-coaching-rank-down-gamemode-masters,
  .select-coaching-rank--gamemode-masters,
  .select-coaching-rank-down-diamond,
  .select-coaching-rank-down-gamemode-diamond,
  .select-coaching-rank-gamemode-diamond {
    width: 17.5em;
    font-size: 0.8em;
  }
  .select-coaching-rank-down-gamemode-gm {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 768px) {
  .coaching-rank {
    max-width: 120px;
    max-height: 100px;
    top: -12.5%;
  }
  .select-coaching-rank-grandmasters,
  .select-coaching-rank-down-gamemode-masters,
  .select-coaching-rank-gamemode-masters,
  .select-coaching-rank-down-diamond,
  .select-coaching-rank-down-gamemode-diamond,
  .select-coaching-rank-gamemode-diamond {
    width: 16.5em;
    font-size: 0.7em;
  }
  .select-coaching-rank-down-gamemode-gm {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 645px) {
  .select-coaching-rank-grandmasters,
  .select-coaching-rank-down-gamemode-masters,
  .select-coaching-rank-gamemode-masters,
  .select-coaching-rank-down-diamond,
  .select-coaching-rank-down-gamemode-diamond,
  .select-coaching-rank-gamemode-diamond {
    width: 16em;
    font-size: 0.6em;
  }
  .select-coaching-rank-down-gamemode-gm {
    width: 17em;
    font-size: 0.6em;
  }
}
