@import "../../shared/styles/styles.scss";

.dashboard-container {
  @include dashboard-nav-panel;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.dashboard-left-panel {
  position: relative;
  width: 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;

  .username-holder {
    margin-top: 1.25em;
    font-size: 2em;
    font-family: "Rancho", cursive;
    text-align: center;

    span {
      font-size: 1.25em;
    }
  }

  .logout-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

    button {
      border: none;
      padding: 20px 30px;
    }
  }

  .account-details-container {
    position: relative;
    align-self: center;
    justify-self: flex-end;
    margin-bottom: 2em;
    border-radius: 10px;
    padding: 0.75em;
    font-family: "Rancho", cursive;
    font-size: 1.5em;
    cursor: pointer;
  }
}

.dashboard-display-panel {
  position: relative;
  width: 85%;
  display: flex;
  flex-direction: row;
  font-family: "Rancho", cursive;
}

.button-container {
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  background-color: rgb(105, 148, 204);
  border-top-right-radius: 20px;
  padding: 1.25em;

  .button-text {
    font-family: "Rancho", cursive;
    font-size: 1.5em;
  }
}

.button-container:nth-child(2n) {
  background-color: rgb(53, 53, 150);
}

.button-link {
  text-decoration: none;
  color: black;
}

.button-link:hover {
  color: gold;
}

@media screen and (max-width: 1300px) {
  .button-container {
    padding: 0.9em;
  }
  .dashboard-left-panel {
    .username-holder {
      font-size: 1.5em;
    }
    .logout-button-container {
      button {
        padding: 15px 20px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .button-container {
    padding: 0.6em;
  }
  .dashboard-left-panel {
    .username-holder {
      font-size: 1.3em;
    }
    .logout-button-container {
      button {
        padding: 12.5px 15px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .button-container {
    padding: 0.4em;
  }
  .dashboard-left-panel {
    .username-holder {
      font-size: 1.3em;
    }
    .logout-button-container {
      button {
        padding: 12.5px 15px;
      }
    }
  }
}
