.video-player {
  position: relative;
  z-index: 1;
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  font-size: 60px;
  top: 0px;
}

.video-color {
  position: absolute;
  z-index: 2;
  background-color: #156ef2;
  height: 100vh;
  width: 100%;
  opacity: 35%;
  box-shadow: inset 0em 0em 5em 8em black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-text {
  z-index: 3;
  position: absolute;
  color: white;
  font-family: "Rancho", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 100%;
  font-size: 3em;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 1400px) {
  .video-text {
    font-size: 2em;
  }
}

@media screen and (max-width: 1024px) {
  .video-text {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .video-text {
    font-size: 1.35em;
  }
}
