@import "../../shared/styles/styles.scss";

.about-container {
  @include background-color;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 3em;
  text-shadow: none;
}

.about-maintext {
  font-family: "Rancho", cursive;
  font-size: 4em;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.about-description {
  display: flex;
  ul {
    padding-inline-start: 0;
    div:nth-child(2n) {
      @include background-color-darker;
    }
  }
}

.description-headers {
  font-family: "Rancho", cursive;
  font-size: 2.5em;
  margin-top: 0.45em;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
}

.description-text {
  font-family: "Rancho", cursive;
  font-size: 1.75em;
  display: flex;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  white-space: pre-line;
  letter-spacing: 1px;
}
