@import "../../shared/styles/styles.scss";

.encourage-view-container {
  background-color: $background-color;
  position: relative;
  height: auto;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 1em;

  .encourage-view-container-text {
    @include headliners-style;
  }
}

.badges-container {
  background-color: $background-color;
  flex-direction: row;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: stretch;
  height: auto;

  .badge {
    width: 25%;
    display: flex;
  }

  .badge-logo {
    width: 30%;
    justify-content: center;
  }

  .text-container {
    width: 70%;

    .badge-text {
      margin-top: 2px;
      text-align: center;
      font-family: "Rancho", cursive;
      font-size: 1.5em;
    }
  }

  .badge-header {
    font-family: "Rancho", cursive;
    font-size: 2.5em;
  }
}

.slider-text {
  background-color: $background-color-darker;
  @include headliners-style;
  @include marginBtnText;
  padding-top: 0.25em;
}

.carousel {
  background-color: $background-color-darker;
}

.how-to-order {
  background-color: $background-color-darker;
}

.encourage-opinion-text {
  @include headliners-style;
  @include marginBtnText;
}

.encourage-contact-text {
  @include headliners-style;
  margin-bottom: 0.25em;
  margin-top: 1.5em;
}

@media screen and (max-width: 1200px) {
  .encourage-contact-text,
  .encourage-opinion-text {
    font-size: 2.25em;
  }
}

@media screen and (max-width: 1024px) {
  .encourage-view-container {
    .encourage-view-container-text {
      font-size: 3em;
    }
  }
  .badges-container {
    .badge-header {
      font-size: 1.75em;
    }
  }
  .slider-text {
    font-size: 3em;
  }
  .encourage-contact-text,
  .encourage-opinion-text {
    font-size: 2em;
  }
}

@media screen and (max-width: 768px) {
  .encourage-view-container {
    .encourage-view-container-text {
      font-size: 2.5em;
    }
  }
  .badges-container {
    .badge-header {
      font-size: 1.5em;
    }
    .text-container {
      .badge-text {
        font-size: 1.25em;
      }
    }
  }
  .slider-text {
    font-size: 2.5em;
  }
  .encourage-contact-text,
  .encourage-opinion-text {
    font-size: 1.5em;
  }
}
